@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');

body {
    color: #18111e;
    font-size: 100pt;
    cursor: none;
}

html {
    background-color: #18111e;
    scroll-behavior: smooth;
}

.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.6rem;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.5s ease;
}

.section1 {
    background-color: #18111e;
    width: 75%;
    float: left;
    height: 93vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: white;
    font-size: 40px;
    text-align: center;
}

.section2 {
    background-color: #18111e;
    width: 25%;
    float: left;
    height: 93vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* .section3 {
    background-color: hsl(0deg 31% 73% / 90%);
    width: 25%;
    float: left;
    height: 30vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default; 
} */

.section4 {
    background-color: transparent;
    width: 30%;
    float: left;
    height: 80vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    cursor: default;


}

.section5 {
    background-color: transparent;
    width: 70%;
    float: left;
    height: 80vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    cursor: default;
}

.section6 {
    background-color: transparent;
    width: 100%;
    float: left;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    cursor: default;
}

.section7 {
    background-color: #4d69e4;
    width: 100%;
    float: left;
    height: 80vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    cursor: default;
}

titleQuotes {
    display: flex;
    justify-content: center;
}

quoteGenerator {
    display: flex;
    float: left;
    margin: 0.3rem;
    font-weight: 600;
    font-size: 3em;
    font-family: 'Rubik Moonrocks', cursive;
    -webkit-transition: color 1s;
    transition: color 0.5s;
    color: #6836b8;
}

quoteGenerator:hover {
    color: #c0b8c4;
}

.quote-text {
    color: #9b4de4;
    margin-top: 0.5em;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

span#quote span:hover {
    background: rgb(221, 107, 107);
}

.quote-author {
    margin-top: 1em;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    position: relative;
    color: #b987cc;
}

#quote-container {
    position: relative;
    top: 8%;
}