@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#particles-js2 {
  position: absolute;
  width: 100%;
  height: 100%;

}

.about-me {
  width: 80%;
  height: 50%;
  border-radius: 20%;
  margin-left: 2rem;
  padding-top: 1rem;
}

#particles-js3 {
  position: absolute;
  width: 100%;
  height: 100%;
}
#particles-js4 {
  position: absolute;
  width: 100%;
  height: 110vh;
}
.about-me-2 {
  max-width: 80%;
  max-height: 70%;
  border-radius: 5%;
  position: absolute;
  top: 22rem;
  left: 12rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

}

.about-me:hover {
  cursor: default;
}

.about-me-2:hover {
  cursor: default;
}

.about-title {
  color: rgb(153, 147, 158);
  position: relative;
  left: 3rem;
  font-size: 6rem;
  font-family: 'Roboto Condensed', sans-serif;
}

#typedtext {
  color: rgb(191, 169, 206);
  font-size: calc(1vw + 1vh);
  display: inline-block;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
}
typedtext2 {
  display: none;
}

#image-container {
  height: 95%;
  width: 70%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 20%;
  margin-top: 25%;
  border-bottom-color: rgb(185, 80, 255);
  border-bottom-width: 0.3rem;
}

#personal-picture2 {
  width: 25rem;
  border-radius: 50% 50% 50% 50%;
  margin-top: 6rem;
  position: relative;
  right: 8rem;
  border: 0.4rem solid rgba(255, 255, 255, 0.3);
}

#image-container:hover {
  cursor: default;
}

.wrapper {
  display: inline-block;
  list-style: none;
  margin-top: 8%;
  position: relative;
  right: 10%;
}
.wrapper .icon {
  position: relative;
  background: #a891b8;
  border-radius: 50%;
  padding: 1rem;
  margin: 1.625rem;
  width: 4.125rem;
  height: 4.125rem;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 1rem;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .LinkedIn:hover,
.wrapper .LinkedIn:hover .tooltip,
.wrapper .LinkedIn:hover .tooltip::before {
  background: #1d79f2;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}